# **Introducao ao Python**

**prof: Sergio Assuncao Monteiro, DSc**

linkedin: https://www.linkedin.com/in/sergio-assun%C3%A7%C3%A3o-monteiro-b781897b/

lattes: http://lattes.cnpq.br/9489191035734025

**Aula 12**

**Exemplo de String**

In [24]:
nome = 'Maria da Silva'
print(nome[0])   # M
print(nome[0:5]) # Maria
print(nome[1:])  # aria da Silva
print(nome[-1])  # a
print(nome[:-1]) # Maria da Silv
print(nome[-3])  # l

M
Maria
aria da Silva
a
Maria da Silv
l

**Algumas funções**

In [25]:
nome = 'Maria da Silva'
print('Métodos:')
print(nome.find('x'))  # -1
print(nome.upper())    # MARIA DA SILVA
print(nome.lower())    # maria da silva
print(nome.index('a')) # 1
print(nome.index('x')) # dá erro! #Vamos aprender a corrigir!!!!

Métodos:
-1
MARIA DA SILVA
maria da silva
1

ValueError: ignored

In [27]:
try:
  print(nome.index('x')) # dá erro!
except:  
  print(f"""A substring  'x' não conta na palavra {nome}""") # dá erro!

A substring  'x' não conta na palavra Maria da Silva

**Listas**

In [26]:
# Criando listas:

l = []  # cria uma lista vazia
x = [10, 15, 20]  # cria uma lista com três elementos
x.append(int(input('Digite um número para a lista: '))) # 8

# imprimindo cada elemento da lista:                  
print(x[0])  # 10
print(x[1])  # 15
print(x[2])  # 20
# incluindo um valor para a lista l:
l.append('José')
l.append('Maria')

print(x)  # [10, 15, 20, 8]
print(l)  # ['José', 'Maria']

print(x[1:3])  # [15,20]
print(len(x))  # 4
del(x[1])
print(x)  # [10, 20, 8] ,pois excluiu o 15, que estava no índice 1

Digite um número para a lista: 10
10
15
20
[10, 15, 20, 10]
['José', 'Maria']
[15, 20]
4
[10, 20, 10]

**Tuplas**

In [28]:
tupla = (1, 2, 3, 4, 5)
t1 = 'a', 'b', 'c', 40, 50
print(tupla) 
print(t1)    

# particionando a tupla:
print(f'tupla[1:4]: {tupla[1:4]}')  
# tupla com lista:
t2 = (10, [20, 30, 40])
print(f'tupla t2: {t2}')  
print('Tamanho da tupla: ',len(t2))  
t2[1].append(50)
print(f'tupla t2: {t2}')  
print(t2)

(1, 2, 3, 4, 5)
('a', 'b', 'c', 40, 50)
tupla[1:4]: (2, 3, 4)
tupla t2: (10, [20, 30, 40])
Tamanho da tupla:  2
tupla t2: (10, [20, 30, 40, 50])
(10, [20, 30, 40, 50])

**Dicionários**

In [29]:
produtos = {'Lápis': 1.50,
            'Caderno': 15.00,
            'Caneta': 2.50,
            'Borracha': 5.00}
print(produtos)
# alterando o preço do caderno:
produtos['Caderno'] = 20.00
print(produtos)
#incluindo um produto:
produtos['Livro'] = 50.00
print(produtos)
print('Preço do lápis:', produtos['Lápis'])
# verificando se uma chave existe:
print('Caderno' in produtos)
print('Gibi' in produtos)
print(produtos.keys())  # mostra as chaves
print(produtos.values()) # mostra os valores
print(produtos.items())
del(produtos['Caderno'])
print(produtos)

{'Lápis': 1.5, 'Caderno': 15.0, 'Caneta': 2.5, 'Borracha': 5.0}
{'Lápis': 1.5, 'Caderno': 20.0, 'Caneta': 2.5, 'Borracha': 5.0}
{'Lápis': 1.5, 'Caderno': 20.0, 'Caneta': 2.5, 'Borracha': 5.0, 'Livro': 50.0}
Preço do lápis: 1.5
True
False
dict_keys(['Lápis', 'Caderno', 'Caneta', 'Borracha', 'Livro'])
dict_values([1.5, 20.0, 2.5, 5.0, 50.0])
dict_items([('Lápis', 1.5), ('Caderno', 20.0), ('Caneta', 2.5), ('Borracha', 5.0), ('Livro', 50.0)])
{'Lápis': 1.5, 'Caneta': 2.5, 'Borracha': 5.0, 'Livro': 50.0}

**Exercício: Vamos fazer um programa que cria uma lista, uma tupla e um dicionário.**

In [30]:
# Lista:
lista=[]
# Tupla:
tupla = (10, 20, 30, 40)
# Dicionário
dicionario = {'Arroz': 23.50, 'Feijão': 10.00, "Tomate": 4.99}

lista.append(int(input('Digite um número: ')))
lista.append(int(input('Digite um número: ')))
lista.append(int(input('Digite um número: ')))
dicionario['Alface'] = 3.50
print(f'lista: {lista}')
print(f'tupla: {tupla}')
print(f'dicionario: {dicionario}')

Digite um número: 8
Digite um número: 5
Digite um número: 3
lista: [8, 5, 3]
tupla: (10, 20, 30, 40)
dicionario: {'Arroz': 23.5, 'Feijão': 10.0, 'Tomate': 4.99, 'Alface': 3.5}

**Exercício: Faça um programa que cria uma lista, uma tupla e um dicionário. A lista deverá ser de 3 números inteiros digitados pelo usuário, a tupla com 5 números inteiros e o dicionário de 3 pessoas com suas idades. Ao final, mostrar todos os dados.**

In [31]:
# Lista:
lista=[]
lista.append(int(input('Digite o primeiro número: ')))
lista.append(int(input('Digite o segundo número: ')))
lista.append(int(input('Digite o terceiro número: ')))

Digite o primeiro número: 2
Digite o segundo número: 5
Digite o terceiro número: 9

In [32]:
print(f'lista = {lista}')

lista = [2, 5, 9]

In [33]:
# Tupla:
tupla = (1, 5, 7, 18, 23)

In [34]:
print(f'tupla = {tupla}')

tupla = (1, 5, 7, 18, 23)

In [35]:
# Dicionário
dicionario = {'Sérgio': 46, 'Ana': 20, "Maria": 41}

In [36]:
dicionario

{'Sérgio': 46, 'Ana': 20, 'Maria': 41}